<section class="section-2">
    <div class="year year-1">
        <div class="date">1950e</div>
        <div class="left">
            <div class="bg"><img src="img/y1-1.png" alt=""></div>
            <div class="car"><img src="img/y1-2.png" alt=""></div>

            <div class="soldiers">
                <div class="soldier"><img src="img/y1-3.png" alt=""></div>
                <div class="soldier"><img src="img/y1-4.png" alt=""></div>
            </div>
        </div>
        <div class="right">
            <div class="text">
                <p>Во времена Советского Союза в приоритете были нужды страны: высокая производительность
                    труда, непрерывная работоспособность и активная общественная деятельность. Хотя СССР и ввел понятие
                    «отпуск по беременности и родам» одним из первых, сам период декрета поначалу был очень коротким —
                    порядка двух&#8209;трех месяцев, включая сами роды.</p>
            </div>
            <a href="" class="btn">где найти работу маме?</a>
        </div>
    </div>
    <div class="year year-2">
        <div class="date">1956 год</div>
        <div class="top">
            <div class="text">
                <p>Декрет разделили на больничный по беременности и родам и отпуск по уходу за ребенком
                    (такой порядок сохраняется и по сей день). Сам отпуск по уходу теперь начинался спустя 56 дней после
                    родов, составлял 3 месяца и никак не оплачивался. </p>
            </div>
        </div>
        <div class="bottom">
            <div class="bg"><img src="img/y2-bg-anim.png" alt=""></div>
            <div class="front"><img src="img/y2-front.png" alt=""></div>
        </div>
    </div>
    <div class="year year-3">
        <div class="left">
            <div class="picture"><img src="img/y3.png" alt=""></div>
        </div>
        <div class="right">
            <div class="text">
                <p>Примерно в 5 месяцев молодая мама должна была отдать своего малыша в ясли и выйти на работу. Пребывание в яслях и садике считалось правильным для ребенка, ведь уход и присмотр осуществлял специально обученный квалифицированный персонал.</p>
            </div>
            <a href="" class="btn">где найти работу маме?</a>
        </div>
    </div>
    <div class="year year-4">
        <div class="date">1968 год</div>
        <div class="left">
            <div class="picture"><img src="img/y4-1.png" alt=""></div>
        </div>
        <div class="right">
            <div class="text">
                <p>Отпуск по уходу за ребенком увеличили, разрешив мамам оставаться дома до достижения малышом одного года. Однако этот период по-прежнему не оплачивался, поэтому немногие семьи могли позволить себе столь длительный перерыв в работе одного из супругов.</p>
            </div>
        </div>
        <div class="bottom">
            <div class="picture"><img src="img/y4-2.png" alt=""></div>
        </div>
    </div>
    <div class="year year-5">
        <div class="date">1968 год</div>
        <div class="left">
            <div class="text">
                <p>Наконец отпуск по уходу за ребенком приблизился к современной модели. В 1982 году молодым мамам начали выплачивать пособие (оно действовало весь первый год жизни малыша), а общая продолжительность декрета достигла полутора лет. </p>
            </div>
            <a href="" class="btn">где найти работу маме?</a>
        </div>
        <div class="right">
            <div class="picture"><img src="img/y5.png" alt=""></div>
        </div>
    </div>
    <div class="year year-6">
        <div class="date">1989 год</div>
        <div class="left">
            <div class="picture"><img src="img/y6-1.png" alt=""></div>
        </div>
        <div class="top">
            <div class="text">
                <p>Отпуск по уходу за ребенком пришел к современному виду: частично оплачиваемый до полутора и неоплачиваемый, но с сохранением за мамой рабочего места, до трех лет.</p>
            </div>
        </div>
        <div class="bottom">
            <div class="bg"><img src="img/y6-2.png" alt=""></div>
            <div class="front"><img src="img/y6-3.png" alt=""></div>
        </div>
    </div>
</section>
