<section class="section-1" id="a1">
    <div class="title-part-1">Как сидели в декрете</div>
    <div class="title-part-2">
        <span class="part-1">мамы разных</span>
        <span class="part-2">тысячелетий</span>
    </div>
    <div class="text">
        <p>Современной маме вовсе не обязательно делать выбор между материнством и карьерой. Многие из нас выходят на
            работу, даже не дожидаясь окончания законного трехгодичного декрета, уже в полтора года (а кто-то, может, и
            раньше!). Но при этом остаются для своих детей главными людьми и лучшими на свете мамами.

        </p>
        <p> Как органично объединить в себе две ипостаси — профессионала и матери? Как избежать тревожности и чувства
            вины? На какие вопросы обращать внимание перед выходом на работу? Об этом и многом другом в самом полном
            расследовании Woman.ru и компании «Макдоналдс», знаменитой особенно чутким отношением к материнским
            потребностям своих сотрудниц. </p>
    </div>
</section>
