$font1: "Gilroy", sans-serif;

a{
	text-decoration: none;
}

html,body{
}

body{
	color: #000000;
	font-family: $font1;
	font-size: 16px;
	margin: 0;
	background: url(../img/bg-tile.jpg) top center;
}

.container{
	width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
}

#jGrowl{
  z-index: 999999;
}

*:focus{
	outline: none;
}

.hide{
	display: none;
}


footer{
	background: #ffffff;
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}