.section-2 {

    font-family: Noah;
    font-size: 18px;
    font-weight: 400;

    line-height: 24px;

    .btn {
        width: 287px;
        height: 54px;
        display: block;
        box-shadow: 11px 13px 0 rgba(0, 37, 83, 0.33);
        border-radius: 7px;
        background-color: #d40000;

        color: #ffbc0c;
        font-family: Noah;
        font-size: 18px;
        line-height: 54px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;

        &:hover {
            opacity: .8;
        }
    }

    p {
        &:first-letter {
            color: #ffbb0e;
            font-family: Noah;
            font-size: 40px;
            font-weight: 700;
            line-height: 20px;
            margin-left: -25px;
        }
    }

    .date {
        position: absolute;
        width: 68px;
        height: 24px;
        background-color: #d40000;

        color: #ffffff;
        font-family: Noah;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        text-align: center;
        padding: 0 10px;
    }

    .year {
        position: relative;
    }

    .year-1 {
        width: 955px;
        height: 423px;
        margin: 76px auto 0;
        box-sizing: border-box;

        border-right: 2px solid #ffbd0e;

        .date {
            left: 45.2%;
            top: -12px;
        }

        display: flex;
        justify-content: space-between;

        .left {
            flex-grow: 1;
            position: relative;

            .bg {
                position: absolute;
                z-index: 1;
                left: 14px;
                top: -68px;

                img {}
            }

            .car {
                position: absolute;
                z-index: 2;

                transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
                top: 7px;
                left: 44%;

                img {}

                &.animation-car-desctop {
                    animation-name: animation_1;
                    animation-duration: 1.7s;
                    animation-iteration-count: 1;
                    animation-fill-mode: both;
                }


            }
        }

        .soldiers {
            position: absolute;
            left: 0px;
            width: 340px; //340-110=230/100  =  1%==2.3px
            top: 332px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;

            .soldier {
                img {}
            }
        }


        .right {
            border-top: 2px solid #ffbd0e;
            width: 279px;
            padding-top: 21px;
            padding-right: 41px;
            padding-left: 166px;

            .text {
                margin-bottom: 15px;

                p {}
            }

            .btn {
                &:hover {}

                &:active {}

                &:focus {}
            }
        }
    }

    .year-2 {
        border-left: 2px solid #ffbd0e;
        position: relative;
        margin: 0 auto;
        width: fit-content;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: calc(50% - 846px / 2);
            margin-left: 55px;
            width: 846px;
            background: #ffbd0e;
            height: 2px;

        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 471px;
            background: #ffbd0e;
            height: 2px;

        }

        .date {
            top: -12px;
            left: 134px;
            width: 95px;
        }

        .top {
            width: 735px;


            .text {
                padding-top: 37px;
                padding-left: 165px;
                padding-bottom: 424px;
                width: 572px;

                .p {}
            }
        }

        .bottom {
            .bg {
                position: absolute;
                top: 155px;
                left: 178px;

                img {
                    animation-name: animation_2;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-fill-mode: both;
                    animation-play-state: running;
                }
            }

            .front {
                position: absolute;
                top: 77px;
                left: 80px;
            }
        }
    }

    .year-3 {
        display: flex;
        margin: 0 auto;
        width: fit-content;

        .left {
            width: 546px;
            border-right: 2px solid #ffbd0e;
            position: relative;

            .picture {
                position: absolute;
                top: -22px;
                left: 86px;
            }
        }

        .right {
            padding-top: 78px;
            padding-left: 51px;
            padding-bottom: 100px;
            .text {
                width: 280px;
                padding-bottom: 22px;
            }

            .btn {
                position: relative;
                left: -4px;
            }
        }
    }

    .year-4{
        width: 865px;
        margin: 0 auto;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 536px;
            background: #ffbd0e;
            height: 2px;
        }
        .date {
            left: 26.2%;
            top: -12px;
        }
        border-bottom: 2px solid #ffbd0e;
        border-left: 2px solid #ffbd0e;
        .right{
            padding: 50px 45px 165px 233px;
            box-sizing: border-box;
            width: 100%;
        }
        .left{
            position: absolute;
            left: -42px;
            top: -76px;
            &.animation {
                animation-name: animation_3;
                animation-duration: 1.7s;
                animation-iteration-count: 1;
                animation-direction: alternate;
                animation-fill-mode: both;
            }
        }
        .bottom{
            position: absolute;
            left: 220px;
            bottom: 0;
        }
    }

    .year-5{
        width: 810px;
        padding-left: 55px;
        display: flex;
        border-right: 2px solid #ffbd0e;
        margin: 0 auto;
        justify-content: space-between;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            right: -2px;
            bottom: -2px;
            width: 500px;
            background: #ffbd0e;
            height: 2px;
        }
        .date {
            left: 7.2%;
            top: -12px;
        }
        .left{
            padding: 50px 0 57px;
            width: 300px;
            .btn{
                margin-top: 20px;
            }
        }
        .right{
            padding-top: 15px;
            padding-right: 25px;
        }
    }
    .year-6{
        width: 770px;
        border-left: 2px solid #ffbd0e;
        border-top: 2px solid #ffbd0e;
        margin: 0 auto;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: -2px;
            bottom: -48px;
            height: 48px;
            background: #ffbd0e;
            width: 2px;
        }
        .date {
            left: 20.2%;
            top: -12px;
        }
        .left{
            position: absolute;
            left: -91px;
            top: 40px;
        }
        .top{
            padding: 50px 0 0 180px;
            width: 600px;
        }
        .bottom{
            margin: 40px 0 0 70px;
            position: relative;
            .front{
                position: absolute;
                bottom: 97px;
                right: 10px;
            }
        }
    }
}




@keyframes animation_1 {
    0% {}

    100% {
        transform: none;
        left: 340px;
        top: 35px;
    }
}

@keyframes animation_2 {

    //анимация для коляски
    0% {
        transform: translate3d(0px, 0px, 0) rotate(0deg) scale(1);
        opacity: 1;
        animation-timing-function: ease-in-out
    }

    100% {
        transform: translate3d(18px, 0px, 0) rotate(6deg) scale(1);
        opacity: 1;
    }
}


@keyframes animation_3 {
    0% {}

    100% {
        top: -146px;
    }
}


@media screen and  (max-width:1000px) {


    .mob-image{
        display: flex;
        justify-content: center;
        img{
            display: block;
            max-width: 100%;
        }
    }
    .section-2 .btn{
        font-size: 16px;
        width: 100%;
        height: 44px;
        line-height: 44px;
        box-shadow: 10px 10px 0 rgba(0,37,83,.33);
    }
    .section-2 p:first-letter {
        font-size: 36px;
        margin-left: -23px;
    }

    .section-2 .date{
        left: -45px !important;
        transform: rotate(-90deg);
    }
    .section-2 .year{
        display: block;
        border: none;
        margin: 0 20px;
        border-left: 2px solid #ffbd0e;
        width: calc(100% - 40px);
        height: auto;
        padding-left: 0;
    }
    .section-2 .year-1 .date {
        top: 140px;
    }
    .section-2 .year-1 .left{
        display: none;
    }
    .section-2 .year-1 .right,
    .section-2 .year-2 .top .text,
    .section-2 .year-3 .right,
    .section-2 .year-4 .right,
    .section-2 .year-5 .left,
    .section-2 .year-6 .top{
        border: none;
        padding: 0;
        padding-left: 30px;
        margin: 0 auto;
        margin-top: 19px;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        max-width: 280px;
        width: auto;
    }

    .section-2 .year-2 .top{
        width: auto;
    }
    .section-2 .year-2 .date{
        left: -60px !important;
        top: 101px;
    }

    .section-2 .year-2::before{
        display: none;
    }
    .section-2 .year-2 .bottom{
        display: none;
    }
    .section-2 .year-2::after{
        display: none;
    }

    .section-2 .year-3 .left{
        display: none;
    }


    .section-2 .year-4::before{
        display: none;
    }

    .section-2 .year-4 .left{
        display: none;
    }
    .section-2 .year-4 .bottom{
        display: none;
    }
    .section-2 .year-4 .date {
        top: 90px;
    }


    .section-2 .year-5 .right{
        display: none;
    }
    .section-2 .year-5::before{
        display: none;
    }
    .section-2 .year-5 .date {
        top: 88px;
    }

    .section-2 .year-6 .left,
    .section-2 .year-6 .bottom{
        display: none;
    }
    .section-2 .year-6{
        padding-bottom: 45px;
    }
    .section-2 .year-6::before {
        bottom: -31px;
    }

    .section-2 .year-6 .date {
        top: 98px;
    }
}